body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
}

nav {
    display: flex;
    flex-direction: column;
    /* Stack name and navbar vertically */
    align-items: center;
    /* Center items */
    padding: 10px 20px;
}

.name {
    font-weight: bold;
    font-size: 1.5em;
}

section {
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li:not(:last-child)::after {
    content: '|';
    margin-left: 10px;
    color: white;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s, font-weight 0.3s;
}

nav ul li a:hover {
    color: #007bff;
    font-weight: bold;
}

main {
    text-align: center;
    padding: 20px;
}

section {
    margin: 40px 0;
}

/* Media query for responsiveness */
@media only screen and (max-width: 768px) {
    nav {
        align-items: center;
        /* Center navbar items */
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul li:not(:last-child)::after {
        content: none;
    }
}